<% layout('layouts/boilerplate') %>
<div class="container">
        <h1>Edit your Client details</h1>
        
            <form action="/invoice/<%= invoice._id%>?_method=PUT" method = "POST" class="row g-3 m-4 validated-form" novalidate>
                
                <div class="col-md-6">
                    <label for="First name" class="form-label">First name</label>
                    <input type="text" class="form-control" name="invoice[First_name]" value = "<%= invoice.First_name %>" aria-label="First name" required>
                    <div class="invalid-feedback">
                        Please provide your First name.
                      </div>
                </div>

                <div class="col-md-6">
                    <label for="Last name" class="form-label">Last name</label>
                    <input type="text" class="form-control" name="invoice[Last_name]" value = "<%= invoice.Last_name %>" aria-label="First name" required>
                    <div class="invalid-feedback">
                        Please provide your Last name.
                      </div>
                </div>

                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    
                    <input type="email" class="form-control" name="invoice[Email]" value = "<%= invoice.Email %>" id="inputEmail4" required>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                      </div>
                </div>

                <div class="col-md-6">
                    <label for="inputContact" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" name="invoice[Contact]" value = "<%= invoice.Contact %>" id="inputnumber" required>
                    <div class="invalid-feedback">
                        Please provide a valid Mobile number.
                      </div>
                </div>

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="invoice[Address]" value = "<%= invoice.Address %>" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please provide a valid <address></address>.
                      </div>
                </div>

                
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" name="invoice[city]" value = "<%= invoice.city %>"  id="inputCity" required>
                    <div class="invalid-feedback">
                        Please provide a valid City.
                      </div>
                </div>

                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <input type="text" class="form-control" name="invoice[state]" value = "<%= invoice.state %>" id="inputState" required>
                    <div class="invalid-feedback">
                        Please provide a valid State.
                      </div>
                </div>

                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" name="invoice[pincode]" value = "<%= invoice.pincode %>" id="inputZip" required>
                    <div class="invalid-feedback">
                        Please provide a valid pincode.
                      </div>
                </div>

                
                <div class="col-12">
                    <button type="submit" class="btn btn-info">Update Client</button>
                </div>


            </form>
            <a href="/invoice/<%=invoice._id%>" class="btn btn-outline-success">View Client Details</a>
        </div>
       
        
